@import "_variable.scss";
@import "_component.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

$padding: 2rem 1em;

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background: $nav-bg;
    filter: $shadow;
    z-index: 99;

    // background: red;
    h1 {
        color: $primary;
        font-size: 1.4rem;
    }

    nav {
        display: flex;
        align-items: center;

        .show {
            right: 0;
        }

        ul {
            position: absolute;
            width: 100vw;
            height: 100vh;
            top: 0;
            right: -100%;
            background: #B7B1F2;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1.5rem;
            transition: .3s all ease;
            z-index: 99;
            @include button;

            a {
                font-weight: 600;
            }
        }

        .bars {
            position: relative;
            width: 40px;
            height: 30px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            cursor: pointer;
            overflow: hidden;
            z-index: 999;

            .bar {
                width: 100%;
                height: 3px;
                background: $primary;
                border-radius: 50px;
                transition: 0.3s all ease;
            }
        }

        .bars.active {
            .bar:nth-child(1) {
                transform: rotate(45deg) translate(2px, 5px);
            }

            .bar:nth-child(2) {
                display: none;
            }

            .bar:nth-child(3) {
                transform: rotate(-45deg) translate(2px, -5px);
            }
        }

    }
}

section {
    position: relative;
    width: 100%;
    // height: 100%;
    // height: calc(100% - 60px);
    padding: $padding;
    display: flex;
    flex-direction: column;
    // background: red;
    // z-index: -1;

    .title {
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem 0;
        margin: 2rem 0;
        font-family: "Lato", sans-serif;
        font-weight: 900;
        z-index: 2;
        // background: #000;
    }

    .container {
        width: 100%;
        // height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;

        article,
        aside {
            width: 100%;
            // height: 100%;
            // padding: 0 1rem;
            display: flex;
            justify-content: center;
            // background: green;
            z-index: 1;
        }

        article {
            position: relative;
            flex-direction: column;
            align-items: center;
            font-size: 1.2rem;

            h3 {
                position: relative;

                img {
                    position: absolute;
                    left: -8px;
                    top: -5px;
                }
            }

            h1 {
                font-size: 2.5rem;
                letter-spacing: -2px;
                margin: 0.5rem 0;
            }

            p {
                opacity: 50%;
            }

            .btn-container {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                margin-top: 2rem;
                @include button;

                a {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    font-weight: 600;
                    color: $primary;
                    white-space: nowrap;

                    i {
                        font-size: 2rem;
                    }
                }
            }

            .graphic {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                pointer-events: none;

                img {
                    position: absolute;
                    opacity: 50%;
                }

                img:nth-child(1) {
                    top: -22rem;
                }

                img:nth-child(2) {
                    bottom: 3rem;
                    right: 0;
                }

                img:nth-child(3) {
                    bottom: 11rem;
                    right: 30%;
                    // transform: translateX(-50%);
                }

                img:nth-child(4) {
                    bottom: 1.7rem;
                    left: 1rem;
                }

                img:nth-child(5) {
                    top: -10rem;
                    right: 0;
                }
            }
        }

        aside {
            position: relative;
            align-items: center;

            img:nth-child(2) {
                width: 80%;
                position: absolute;
                left: 50%;
                top: 30%;
                transform: translate(-50%, -50%);
                object-fit: contain;
            }

            img:nth-child(1) {
                width: 80%;
                height: 80%;
                object-fit: contain;
                z-index: 9;
            }
        }
    }
}

#hero {
    padding-top: 3rem;
    text-align: center;
}

#about {
    padding: 0;
    // background: red;
    position: relative;
    background: $sec;

    .container {
        padding: 2rem 1rem;
        // margin-top: 2rem;
        gap: 4rem;
        z-index: 2;

        aside {
            img {
                width: 90%;
                border-radius: 0.5rem;
                box-shadow: $img-shadow;
            }
        }

        article {
            text-align: center;
            align-items: center;
            gap: 2rem;
            @include button;
        }
    }

    .graphic {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
            position: absolute;
        }

        img:nth-child(1) {
            left: 0;
            width: 10rem;
        }

        img:nth-child(2) {
            right: 0;
            width: 2rem;
        }
    }

}

#why-choose-us {
    background: linear-gradient(to bottom, $sec, rgb(255, 255, 255));

    .card-container {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;
        // flex-direction: column;
        padding: 0 2rem;
        margin-top: 2rem;
        // background: #a3a3a3;

        .card {
            position: relative;
            width: 300px;
            height: 350px;
            border-radius: 1rem;
            // background: #FBF3B9;
            filter: $shadow;
            overflow: hidden;
            cursor: grab;

            .cover {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                background: #FBF3B9;
                padding: 0.5rem;
                transition: .3s all ease;
                z-index: 9;

                // opacity: 0;
                h2 {
                    position: absolute;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                    opacity: 30%;

                    span {
                        color: transparent;
                    }
                }

                .horizontal {
                    top: 50%;
                    left: 50%;
                    transform: translate(-48%, -50%);
                    letter-spacing: 0.8rem;
                }

                .vertical {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    writing-mode: vertical-rl;
                    text-orientation: upright;
                }
            }

            .card-content {
                width: 100%;
                height: 100%;
                padding: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                text-align: center;
                background: #949bff;

                h3 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 1rem;
                    opacity: 50%;
                }

                @include button;
            }
        }

        .card:hover .cover {
            top: 100%;
        }
    }
}

#vision {
    // background: red;
    // flex-direction: column;
    .container {
        flex-direction: column;
        gap: 2rem;
        text-align: justify;
        aside {
            .video {
                position: relative;
                width: 100%;
                height: 80%;
                border-radius: 1rem;
                overflow: hidden;

                video {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 1rem;
                }

                .welcome-overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.247);
                    top: 0;
                    left: 0;

                    button {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        background: $primary;
                        border: none;
                        font-size: 1.5rem;
                        color: white;
                        cursor: pointer;
                    }
                }
            }
        }

        article {
            // background: #000;
            gap: 1rem;
            p {
                i {
                    line-height: 2rem;
                }
            }
            ul {
                opacity: 50%;
                // margin-bottom: 1rem;
                i {
                    color: $primary;
                }
            }
            @include button;
            button {
                margin-top: 2rem;
            }
        }
    }
    
    .syllabus {
        width: fit-content;
        height: 120px;
        margin-top: 3rem;
        padding: 1rem 0.5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 0.5rem;
        gap: 0.5rem;
        overflow-y: scroll;
        background: $sec;
        filter: $shadow;
        @include button;
        button {
            padding: 0.8rem 2.5rem;
            border-radius: 0.5rem;
            background: linear-gradient(to right, #FAB7EB, #BEB2F1);
            color: black;
            // overflow: auto;
            z-index: 1;
        }
        button:hover {
            color: transparent;
        }
        button::after {
            width: 100%;
            height: 100%;
            content: "Download Now";
            border-radius: 5px;
            align-content: center;
            z-index: 99;
        }
        button:hover::after {
            top: 0;
            color: black;
        }
    }
}

#gallery {
    height: fit-content;
    // background: red;
    .swiper {
        width: 100%;
        height: 450px;
        border-radius: 1rem;
        overflow: hidden;
        // background: green;
      }
  
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #ff8a8a;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        overflow: hidden;
        cursor: grab;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center 15%;
      }

      @include button;
      button {
        margin: auto;
        margin-top: 2rem;
      }
}

#review {
    position: relative;
    height: fit-content;    
    padding: 1rem 0;
    overflow: hidden;

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(10px);
        z-index: 99;
    }
    .review-container {
        // height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // background: red;

        .swiper {
            width: 100%;
            height: 400px;
            max-height: fit-content;
            padding: 0rem 2rem;
          }
      
          .swiper-slide {
            display: flex;
            align-items: center;
            // justify-content: start;
            flex-direction: column;
            gap: 2rem;
            border-radius: 1rem;
            padding: 2rem 1rem;
            color: #fff;
            overflow-y: scroll;

            .student-details {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                line-height: 1.5rem;
                white-space: nowrap;
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            p {
                font-size: 1rem;
                opacity: 70%;
            }
          }
      
          ::-webkit-scrollbar {
            width: 0;
          }

          .swiper-slide:nth-child(1n) {
            background-color: rgb(206, 17, 17);
          }
      
          .swiper-slide:nth-child(2n) {
            background-color: rgb(0, 140, 255);
          }
      
          .swiper-slide:nth-child(3n) {
            background-color: rgb(10, 184, 111);
          }
      
          .swiper-slide:nth-child(4n) {
            background-color: rgb(255, 204, 136);
          }
      
          .swiper-slide:nth-child(5n) {
            background-color: rgb(215, 255, 121);
          }
      
          .swiper-slide:nth-child(6n) {
            background-color: rgb(255, 182, 198);
          }
      
          .swiper-slide:nth-child(7n) {
            background-color: rgb(209, 255, 197);
          }
      
          .swiper-slide:nth-child(8n) {
            background-color: rgb(0, 68, 255);
          }
      
          .swiper-slide:nth-child(9n) {
            background-color: rgb(218, 12, 218);
          }
      
          .swiper-slide:nth-child(10n) {
            background-color: rgb(146, 255, 208);
          }
    }

    @include button;
    button {
        margin: 2rem auto;
        background: rgb(0, 0, 152);
    }

    .form-container {
        position: fixed;
        width: 90%;
        height: 80%;
        left: 50%;
        top: 200%;
        transform: translate(-50%, -50%);
        background: rgb(131, 90, 255);
        border-radius: 1rem;
        overflow: hidden;
        transition: .3s all ease-out;
        z-index: 99;
        .title {
            margin: 0;
        }
        form {
            width: 90%;
            height: 90%;
            display: flex;
            // justify-content: center;
            align-items: start;
            flex-direction: column;
            gap: 1rem;
            margin: auto;
            // background: green;
            div {
                display: flex;
                // align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 1rem;

                label {
                    white-space: nowrap;
                    font-size: 1.2rem;
                    font-weight: 600;
                }
                input {
                    font-size: 1.2rem;
                    padding: 0.2rem 1rem;
                }
                select {
                    font-size: 1.2rem;
                }
            }
            textarea {
                max-width: 100%;
                max-height: 100px;
                font-size: 1.2rem;
                padding: 0.5rem;
            }
        }
        .close-form {
            position: absolute;
            font-size: 2rem;
            right: 2rem;
            top: 1rem;
            color: rgb(0, 0, 152);;
            cursor: pointer;
        }
    }
}

#contact {
    width: 90%;
    height: 50%;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.138);
    margin: auto;
    // background: red;
    padding:  0;
    padding-top: 1.5rem;
    .title {
        margin: 0;
        padding: 0;
    }
    .container {
        justify-content: center;
        align-items: end;
        aside {
            display: none;
            height: fit-content;
            // background: blue;
            align-items: end;
            img {
                width: 70%;
                object-fit: contain;
            }
        }
        article {
            width: 100%;
            // background: green;
            form {
                width: 90%;
                // background: yellow;
                input, textarea {
                    width: 100%;
                    padding: 0.5rem 1rem;
                    background: transparent;
                    border: 2px solid rgba(0, 0, 0, 0.46);
                    outline: none;
                    font-size: 1.2rem;
                    border-radius: 0.5rem;
                    margin: 1rem 0;
                }
                @include button;
            }
        }
    }
    
}

footer {
    width: 100%;
    // height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
    padding: 2rem 1rem;
    background: rgb(3, 0, 81);
    color: white;

    .des {
        width: 100%;
        height: 100%;
        // background: green;   
        align-content: center;

        h1 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1rem;
            margin: 2rem 0;
            opacity: 50%;
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            i {
                font-size: 1.5rem;
                color: $primary;
            }
        }
    }

    .quick-links {
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        // background: red;
        ol {
            list-style: none;
            a {
                // text-align: center;
                color: white;
                display: flex;
                align-items: start;
                font-size: 1rem;
                gap: 0.5rem;
                margin: 1rem 0;
                i {
                    rotate: 90deg;
                }
            }
        }
    }


 }