@import "_variable.scss";
@import "./components/button";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

$padding: 2rem 1em;

section {
    position: relative;
    width: 100%;
    // height: 100%;
    // height: calc(100% - 60px);
    padding: $padding;
    display: flex;
    flex-direction: column;
    // background: red;
    // z-index: -1;

    .title {
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem 0;
        margin: 2rem 0;
        font-family: "Lato", sans-serif;
        font-weight: 900;
        z-index: 2;
        // background: #000;
    }

    .container {
        width: 100%;
        // height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;

        article,
        aside {
            width: 100%;
            // height: 100%;
            // padding: 0 1rem;
            display: flex;
            justify-content: center;
            // background: green;
            z-index: 1;
        }

        article {
            position: relative;
            flex-direction: column;
            align-items: center;
            font-size: 1.2rem;

            h3 {
                position: relative;

                img {
                    position: absolute;
                    left: -8px;
                    top: -5px;
                }
            }

            h1 {
                font-size: 2.5rem;
                letter-spacing: -2px;
                margin: 0.5rem 0;
            }

            p {
                opacity: 50%;
            }

            .btn-container {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                margin-top: 2rem;
                @include button;

                a {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    font-weight: 600;
                    color: $primary;
                    white-space: nowrap;

                    i {
                        font-size: 2rem;
                    }
                }
            }

            .graphic {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                pointer-events: none;

                img {
                    pointer-events: none;
                    position: absolute;
                    opacity: 50%;
                }

                img:nth-child(1) {
                    top: -22rem;
                }

                img:nth-child(2) {
                    bottom: 3rem;
                    right: 0;
                }

                img:nth-child(3) {
                    bottom: 11rem;
                    right: 30%;
                    // transform: translateX(-50%);
                }

                img:nth-child(4) {
                    bottom: 1.7rem;
                    left: 1rem;
                }

                img:nth-child(5) {
                    top: -10rem;
                    right: 0;
                }
            }
        }

        aside {
            position: relative;
            align-items: center;

            img:nth-child(2) {
                width: 80%;
                position: absolute;
                left: 50%;
                top: 30%;
                transform: translate(-50%, -50%);
                object-fit: contain;
            }

            img:nth-child(1) {
                width: 80%;
                height: 80%;
                object-fit: contain;
                z-index: 9;
            }
        }
    }
}

@import './components/nav';
@import './components/home';
@import './components/gallery';